In [6]:
import pandas as pd
import requests

In [7]:
URL ='https://stephen-king-api.onrender.com/api/books'

In [15]:
res= requests.get(URL)
json_data =res.json()

In [16]:
df =pd.json_normalize(json_data['data'])

In [27]:
df
new_df=(df[['villains']])

In [28]:
new_df

                                             villains
0   [{'name': 'Tina Blake', 'url': 'https://stephe...
1   [{'name': 'Kurt Barlow', 'url': 'https://steph...
2   [{'name': 'Horace M. Derwent', 'url': 'https:/...
3                                                  []
4   [{'name': 'Donald Merwin Elbert', 'url': 'http...
..                                                ...
58  [{'name': 'The Outsider (Creature)', 'url': 'h...
59                                                 []
60  [{'name': 'Gladys Hickson', 'url': 'https://st...
61                                                 []
62                                                 []

[63 rows x 1 columns]